{% extends "blog_QA/base.html" %}
{% load bootstrap4 %}

{% block content %}

  <header class="masthead bg-tertiary text-black">
    <div class="container d-flex flex-column">
      <div class="card mb-3">
        <h4 class="card-header">
          <b>{{ topic.owner }}</b>
          ({{ topic.date_added|date:'M d, Y H:i' }})
          {% if user == topic.owner %}
          <small><a href="{% url 'blog_QA:edit_topic' topic.id%}">Edit Topic</a></small>
          {% endif %}
        </h4>
        <div class="card-body">
          {{ topic.body_text|safe }}<br>
        </div>
      </div>
      <form action="#add_entry">
        <button name="submit" class="btn btn-primary">Add new entry</button>
      </form> 
      <p class="masthead-subheading font-weight-light mb-1">Entries:</p>
      {% for entry in entries %}
        <div class="card mb-3">
          <h4 class="card-header">
            {{ entry.owner }}
            ({{ entry.date_added|date:'M d, Y H:i' }})
            {% if user == entry.owner %}
            <small><a href="{% url 'blog_QA:edit_entry' entry.id%}">Edit Entry</a></small>
            {% endif %}
          </h4>
          <div class="card-body">
            {{ entry.text|safe }}<br>
          </div>
        </div>
      {% empty %}
        <p>There are no entries for this topic yet.</p> 
      {% endfor %}

    <form action="{% url 'blog_QA:entries' topic.id%}" method="POST" class="form" id="add_entry">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button name="submit" class="btn btn-primary">Add entry</button>
    </form>   

    </div>
  </header>

{% endblock content %}