{% extends "blog_QA/base.html" %}

{% block content %}

  <ul>
    <li>
      <p id="topic"><b>{{ topic }}</b> ({{ topic.date_added|date:'M d, Y H:i' }})</p>
      <p>{{ topic.body_text|safe }} </p>
    </li>
  </ul>
  <br>

  <p>Entries:</p>
  <p>
    <form action="#add_entry">
      <button name="submit">Add new entry</button>
    </form>
  </p>
  <ul>
      {% for entry in entries %}
        <li>
            <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
            <p>{{ entry.text|safe }}</p><br>
        </li>
      <form action="{% url 'blog_QA:edit_entry' entry.id %}">
        <button name="submit">Edit entry</button>
      </form>
      {% empty %}
      <li>There are no entries for this topic yet.</li>
      {% endfor %}
  </ul>
  
  <p id="add_entry">Add a new entry:</p>

  <form action="{% url 'blog_QA:new_entry' topic.id%}" method="POST">
      {% csrf_token %}
      {{ form.media }}
      {{ form.as_p }}
      <button name="submit">Add entry</button>
  </form>

{% endblock content %}