{% extends "blog_QA/base.html" %}

{% load bootstrap4 %}

{% block content %}

  <header class="masthead bg-tertiary text-black ">
    <div class="container d-flex flex-column">
      <p class="masthead-subheading font-weight-light mb-3">
        <b>Add a New Topic</b></p>

      <form action="{% url 'blog_QA:new_topic' %}" method="POST">
          {% csrf_token %}
          {{ form.media }}
          {{ form.as_p }}
          <button class="btn btn-primary" name="submit">Add topic</button>
      </form>
    </div>
  </header>



{% endblock content %}