{% extends 'blog_QA/base.html' %}

{% block content %}

  <p>Topic: {{ topic }}</p>

  <p>Entries:</p>
  <p>
    <form action="{% url 'blog_QA:new_entry' topic.id %}">
      <button name="submit">Add new entry</button>
    </form>
  </p>
  <ul>
      {% for entry in entries %}
        <li>
            <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
            <p>{{ entry.text|safe }}</p><br>
        </li>
      <form action="{% url 'blog_QA:edit_entry' entry.id %}">
        <button name="submit">Edit entry</button>
      </form>
      {% empty %}
      <li>There are no entries for this topic yet.</li>
      {% endfor %}
  </ul>

{% endblock content %}