{% extends "blog_QA/base.html" %}

{% block content %}

  <form action="{% url 'blog_QA:new_topic' %}" method="GET">
    <button name="submit">Add new topic</button>
  </form>

  <p>Topics</p>
  
  <ul>
      {% for topic in topics %}
        <li>
            <p>
              <b>{{ topic }}</b> ({{ topic.date_added|date:'M d, Y H:i' }})
              {% if user == topic.owner %}
              <a href="{% url 'blog_QA:edit_topic' topic.id%}">Edit Topic</a>
              {% endif %}
            </p>

          <p>{{ topic.body_text|safe }} </p>

          <form action="{% url 'blog_QA:entries' topic.id%}" method="GET">
            <button name="submit">See Entries</button>
          </form>
          <br>
        </li>
      {% empty %}
        <li>No topics have been added yet.</li>
      {% endfor %}
  </ul>

{% endblock content %}