{% extends "blog_QA/base.html" %}

{% block content %}

  <p>Topics</p>
  
  <ul>
      {% for topic in topics %}
        <li>
          <p><b>{{ topic }}</b> ({{ topic.date_added|date:'M d, Y H:i' }})</p>
          <form action="{% url 'blog_QA:edit_topic' topic.id%}" method="GET">
            <button name="submit">Edit topic</button>
          </form>
          <p>{{ topic.body_text|safe }} </p><br>
        </li>
      {% empty %}
        <li>No topics have been added yet.</li>
      {% endfor %}
  </ul>

  <form action="{% url 'blog_QA:new_topic' %}" method="GET">
    <button name="submit">Add new topic</button>
  </form>

{% endblock content %}